<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <integer>0</integer>
        <key>ascending</key>
        <string>Amstelvar DB Best</string>
        <key>type</key>
        <string>characterSet</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/pichotta/Downloads/Roboto_Mono_Italics/RobotoMono-Italic.ttf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.fontIdentifier</key>
    <string>afh14TK8fA0R_NBsFzNhjOGcJwgIUN40sHcm5FivZnw</string>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>qcurve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>AE</string>
      <string>ae</string>
      <string>OE</string>
      <string>oe</string>
      <string>eth</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>kgreenlandic</string>
      <string>germandbls</string>
      <string>schwa</string>
      <string>dollar</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>florin</string>
      <string>franc</string>
      <string>lira</string>
      <string>peseta</string>
      <string>currency</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>comma</string>
      <string>period</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>minute</string>
      <string>second</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>plus</string>
      <string>minus</string>
      <string>plusminus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>approxequal</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>logicalnot</string>
      <string>slash</string>
      <string>backslash</string>
      <string>fraction</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>ampersand</string>
      <string>at</string>
      <string>section</string>
      <string>paragraph</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>AEacute</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eng</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohorn</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhorn</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>aeacute</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eng</string>
      <string>eogonek</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>jcircumflex</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohorn</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhorn</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>dieresis</string>
      <string>ring</string>
      <string>hungarumlaut</string>
      <string>caron</string>
      <string>dotbelow</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>commaaccent</string>
      <string>.notdef</string>
      <string>nonmarkingreturn</string>
      <string>guillemotleft</string>
      <string>mu</string>
      <string>guillemotright</string>
      <string>dotlessi</string>
      <string>IJ</string>
      <string>ij</string>
      <string>longs</string>
      <string>uni0237</string>
      <string>uni02F3</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>tildecomb</string>
      <string>hook</string>
      <string>uni030F</string>
      <string>tonos</string>
      <string>dieresistonos</string>
      <string>anoteleia</string>
      <string>Gamma</string>
      <string>Delta</string>
      <string>Theta</string>
      <string>Lambda</string>
      <string>Xi</string>
      <string>Pi</string>
      <string>Sigma</string>
      <string>Phi</string>
      <string>Psi</string>
      <string>Omega</string>
      <string>alpha</string>
      <string>beta</string>
      <string>gamma</string>
      <string>delta</string>
      <string>epsilon</string>
      <string>zeta</string>
      <string>eta</string>
      <string>theta</string>
      <string>iota</string>
      <string>lambda</string>
      <string>xi</string>
      <string>pi</string>
      <string>rho</string>
      <string>sigma1</string>
      <string>sigma</string>
      <string>tau</string>
      <string>upsilon</string>
      <string>phi</string>
      <string>psi</string>
      <string>omega</string>
      <string>uni03D1</string>
      <string>uni03D2</string>
      <string>uni03D6</string>
      <string>uni0402</string>
      <string>uni0404</string>
      <string>uni0409</string>
      <string>uni040A</string>
      <string>uni040B</string>
      <string>uni040F</string>
      <string>uni0411</string>
      <string>uni0414</string>
      <string>uni0416</string>
      <string>uni0417</string>
      <string>uni0418</string>
      <string>uni041B</string>
      <string>uni0423</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042A</string>
      <string>uni042B</string>
      <string>uni042C</string>
      <string>uni042D</string>
      <string>uni042E</string>
      <string>uni042F</string>
      <string>uni0431</string>
      <string>uni0432</string>
      <string>uni0433</string>
      <string>uni0434</string>
      <string>uni0436</string>
      <string>uni0437</string>
      <string>uni0438</string>
      <string>uni043A</string>
      <string>uni043B</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0442</string>
      <string>uni0444</string>
      <string>uni0446</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044A</string>
      <string>uni044B</string>
      <string>uni044C</string>
      <string>uni044D</string>
      <string>uni044E</string>
      <string>uni044F</string>
      <string>uni0452</string>
      <string>uni0454</string>
      <string>uni0459</string>
      <string>uni045A</string>
      <string>uni045B</string>
      <string>uni045F</string>
      <string>uni0460</string>
      <string>uni0461</string>
      <string>uni0463</string>
      <string>uni0464</string>
      <string>uni0465</string>
      <string>uni0466</string>
      <string>uni0467</string>
      <string>uni0468</string>
      <string>uni0469</string>
      <string>uni046A</string>
      <string>uni046B</string>
      <string>uni046C</string>
      <string>uni046D</string>
      <string>uni046E</string>
      <string>uni046F</string>
      <string>uni0472</string>
      <string>uni0473</string>
      <string>uni0474</string>
      <string>uni0475</string>
      <string>uni0478</string>
      <string>uni0479</string>
      <string>uni047A</string>
      <string>uni047B</string>
      <string>uni047C</string>
      <string>uni047D</string>
      <string>uni047E</string>
      <string>uni047F</string>
      <string>uni0480</string>
      <string>uni0481</string>
      <string>uni0482</string>
      <string>uni0483</string>
      <string>uni0484</string>
      <string>uni0485</string>
      <string>uni0486</string>
      <string>uni0488</string>
      <string>uni0489</string>
      <string>uni048E</string>
      <string>uni048F</string>
      <string>uni0490</string>
      <string>uni0491</string>
      <string>uni0494</string>
      <string>uni0495</string>
      <string>uni049C</string>
      <string>uni049D</string>
      <string>uni04A0</string>
      <string>uni04A1</string>
      <string>uni04A4</string>
      <string>uni04A5</string>
      <string>uni04A6</string>
      <string>uni04A7</string>
      <string>uni04A8</string>
      <string>uni04A9</string>
      <string>uni04B4</string>
      <string>uni04B5</string>
      <string>uni04B8</string>
      <string>uni04B9</string>
      <string>uni04BA</string>
      <string>uni04BC</string>
      <string>uni04BD</string>
      <string>uni04C3</string>
      <string>uni04C4</string>
      <string>uni04C7</string>
      <string>uni04C8</string>
      <string>uni04D8</string>
      <string>uni04E0</string>
      <string>uni04E1</string>
      <string>uni04FA</string>
      <string>uni04FB</string>
      <string>uni0500</string>
      <string>uni0502</string>
      <string>uni0503</string>
      <string>uni0504</string>
      <string>uni0505</string>
      <string>uni0506</string>
      <string>uni0507</string>
      <string>uni0508</string>
      <string>uni0509</string>
      <string>uni050A</string>
      <string>uni050B</string>
      <string>uni050C</string>
      <string>uni050D</string>
      <string>uni050E</string>
      <string>uni050F</string>
      <string>uni0510</string>
      <string>uni2000</string>
      <string>uni2001</string>
      <string>uni2002</string>
      <string>uni2003</string>
      <string>uni2004</string>
      <string>uni2005</string>
      <string>uni2006</string>
      <string>uni2007</string>
      <string>uni2008</string>
      <string>uni2009</string>
      <string>uni200A</string>
      <string>uni200B</string>
      <string>underscoredbl</string>
      <string>quotereversed</string>
      <string>uni2025</string>
      <string>uni2074</string>
      <string>nsuperior</string>
      <string>Euro</string>
      <string>uni2105</string>
      <string>uni2113</string>
      <string>uni2116</string>
      <string>estimated</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>lozenge</string>
      <string>uniFEFF</string>
      <string>uniFFFC</string>
      <string>uniFFFD</string>
      <string>two.sup</string>
      <string>circumflextildecomb</string>
      <string>circumflexhookcomb</string>
      <string>circumflexgravecomb</string>
      <string>circumflexacutecomb</string>
      <string>brevegravecomb</string>
      <string>commaaccentrotate</string>
      <string>A.smcp</string>
      <string>B.smcp</string>
      <string>C.smcp</string>
      <string>D.smcp</string>
      <string>E.smcp</string>
      <string>F.smcp</string>
      <string>G.smcp</string>
      <string>H.smcp</string>
      <string>I.smcp</string>
      <string>J.smcp</string>
      <string>K.smcp</string>
      <string>L.smcp</string>
      <string>M.smcp</string>
      <string>N.smcp</string>
      <string>O.smcp</string>
      <string>Q.smcp</string>
      <string>R.smcp</string>
      <string>S.smcp</string>
      <string>T.smcp</string>
      <string>U.smcp</string>
      <string>V.smcp</string>
      <string>W.smcp</string>
      <string>X.smcp</string>
      <string>Y.smcp</string>
      <string>Z.smcp</string>
      <string>brevehookcomb</string>
      <string>one.sup</string>
      <string>breveacutecomb</string>
      <string>three.sup</string>
      <string>four.sup</string>
      <string>five.sup</string>
      <string>seven.sup</string>
      <string>eight.sup</string>
      <string>crossbar</string>
      <string>ringacute</string>
      <string>dasiaoxia</string>
      <string>brevetildecomb</string>
      <string>cyrillictic</string>
      <string>cyrillichook</string>
      <string>P.smcp</string>
      <string>K.alt</string>
      <string>Germandbls.smcp</string>
      <string>nonbreakingspace</string>
      <string>uni00AD</string>
      <string>uni010A</string>
      <string>uni010B</string>
      <string>uni0120</string>
      <string>uni0121</string>
      <string>napostrophe</string>
      <string>uni0218</string>
      <string>uni0219</string>
      <string>uni021A</string>
      <string>uni021B</string>
      <string>uni0162</string>
      <string>uni0162.smcp</string>
      <string>uni0163</string>
      <string>Dcroat.smcp</string>
      <string>Eth.smcp</string>
      <string>Tbar.smcp</string>
      <string>Agrave.smcp</string>
      <string>Aacute.smcp</string>
      <string>Acircumflex.smcp</string>
      <string>Atilde.smcp</string>
      <string>Adieresis.smcp</string>
      <string>Aring.smcp</string>
      <string>Aringacute.smcp</string>
      <string>Ccedilla.smcp</string>
      <string>Egrave.smcp</string>
      <string>Eacute.smcp</string>
      <string>Ecircumflex.smcp</string>
      <string>Edieresis.smcp</string>
      <string>Igrave.smcp</string>
      <string>Iacute.smcp</string>
      <string>Icircumflex.smcp</string>
      <string>Idieresis.smcp</string>
      <string>Ntilde.smcp</string>
      <string>Ograve.smcp</string>
      <string>Oacute.smcp</string>
      <string>Ocircumflex.smcp</string>
      <string>Otilde.smcp</string>
      <string>Odieresis.smcp</string>
      <string>Ugrave.smcp</string>
      <string>Uacute.smcp</string>
      <string>Ucircumflex.smcp</string>
      <string>Udieresis.smcp</string>
      <string>Yacute.smcp</string>
      <string>Amacron.smcp</string>
      <string>Abreve.smcp</string>
      <string>Aogonek.smcp</string>
      <string>Cacute.smcp</string>
      <string>Ccircumflex.smcp</string>
      <string>Ccaron.smcp</string>
      <string>Dcaron.smcp</string>
      <string>Emacron.smcp</string>
      <string>Ebreve.smcp</string>
      <string>Edotaccent.smcp</string>
      <string>Eogonek.smcp</string>
      <string>Ecaron.smcp</string>
      <string>Gcircumflex.smcp</string>
      <string>Gbreve.smcp</string>
      <string>Gcommaaccent.smcp</string>
      <string>Hcircumflex.smcp</string>
      <string>Itilde.smcp</string>
      <string>Imacron.smcp</string>
      <string>Ibreve.smcp</string>
      <string>Iogonek.smcp</string>
      <string>Idotaccent.smcp</string>
      <string>Jcircumflex.smcp</string>
      <string>Kcommaaccent.smcp</string>
      <string>Lacute.smcp</string>
      <string>Lcommaaccent.smcp</string>
      <string>Lcaron.smcp</string>
      <string>Ldot.smcp</string>
      <string>Nacute.smcp</string>
      <string>Ncommaaccent.smcp</string>
      <string>Ncaron.smcp</string>
      <string>Omacron.smcp</string>
      <string>Obreve.smcp</string>
      <string>Ohungarumlaut.smcp</string>
      <string>Racute.smcp</string>
      <string>Rcommaaccent.smcp</string>
      <string>Rcaron.smcp</string>
      <string>Sacute.smcp</string>
      <string>Scircumflex.smcp</string>
      <string>Scedilla.smcp</string>
      <string>Scaron.smcp</string>
      <string>Tcaron.smcp</string>
      <string>Utilde.smcp</string>
      <string>Umacron.smcp</string>
      <string>Ubreve.smcp</string>
      <string>Uring.smcp</string>
      <string>Uhungarumlaut.smcp</string>
      <string>Uogonek.smcp</string>
      <string>Wcircumflex.smcp</string>
      <string>Ycircumflex.smcp</string>
      <string>Ydieresis.smcp</string>
      <string>Zacute.smcp</string>
      <string>Zdotaccent.smcp</string>
      <string>Zcaron.smcp</string>
      <string>Alphatonos</string>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Iotatonos</string>
      <string>Omicrontonos</string>
      <string>Upsilontonos</string>
      <string>Omegatonos</string>
      <string>iotadieresistonos</string>
      <string>Alpha</string>
      <string>Beta</string>
      <string>Epsilon</string>
      <string>Zeta</string>
      <string>Eta</string>
      <string>Iota</string>
      <string>Kappa</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Omicron</string>
      <string>Rho</string>
      <string>Tau</string>
      <string>Upsilon</string>
      <string>Chi</string>
      <string>Iotadieresis</string>
      <string>Upsilondieresis</string>
      <string>alphatonos</string>
      <string>epsilontonos</string>
      <string>etatonos</string>
      <string>iotatonos</string>
      <string>upsilondieresistonos</string>
      <string>kappa</string>
      <string>omicron</string>
      <string>uni03BC</string>
      <string>nu</string>
      <string>chi</string>
      <string>iotadieresis</string>
      <string>upsilondieresis</string>
      <string>omicrontonos</string>
      <string>upsilontonos</string>
      <string>omegatonos</string>
      <string>uni0401</string>
      <string>uni0403</string>
      <string>uni0405</string>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni0408</string>
      <string>uni041A</string>
      <string>uni040C</string>
      <string>uni040E</string>
      <string>uni0410</string>
      <string>uni0412</string>
      <string>uni0413</string>
      <string>uni0415</string>
      <string>uni0419</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni041E</string>
      <string>uni041F</string>
      <string>uni0420</string>
      <string>uni0421</string>
      <string>uni0422</string>
      <string>uni0424</string>
      <string>uni0425</string>
      <string>uni0430</string>
      <string>uni0435</string>
      <string>uni0439</string>
      <string>uni043E</string>
      <string>uni0440</string>
      <string>uni0441</string>
      <string>uni0443</string>
      <string>uni0445</string>
      <string>uni0451</string>
      <string>uni0453</string>
      <string>uni0455</string>
      <string>uni0456</string>
      <string>uni0457</string>
      <string>uni0458</string>
      <string>uni045C</string>
      <string>uni045E</string>
      <string>exclamdbl</string>
      <string>uni01F0</string>
      <string>uni02BC</string>
      <string>uni1E3E</string>
      <string>uni1E3F</string>
      <string>uni1E00</string>
      <string>uni1E01</string>
      <string>uni1F4D</string>
      <string>uni0400</string>
      <string>uni040D</string>
      <string>uni0450</string>
      <string>uni045D</string>
      <string>uni0470</string>
      <string>uni0471</string>
      <string>uni0476</string>
      <string>uni0477</string>
      <string>uni0498</string>
      <string>uni0499</string>
      <string>uni04AA</string>
      <string>uni04AB</string>
      <string>uni04AE</string>
      <string>uni04AF</string>
      <string>uni04C0</string>
      <string>uni04C1</string>
      <string>uni04C2</string>
      <string>uni04CF</string>
      <string>uni04D0</string>
      <string>uni04D1</string>
      <string>uni04D2</string>
      <string>uni04D3</string>
      <string>uni04D4</string>
      <string>uni04D5</string>
      <string>uni04D6</string>
      <string>uni04D7</string>
      <string>uni04DA</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni04DC</string>
      <string>uni04DD</string>
      <string>uni04DE</string>
      <string>uni04DF</string>
      <string>uni04E2</string>
      <string>uni04E3</string>
      <string>uni04E4</string>
      <string>uni04E5</string>
      <string>uni04E6</string>
      <string>uni04E7</string>
      <string>uni04E8</string>
      <string>uni04E9</string>
      <string>uni04EA</string>
      <string>uni04EB</string>
      <string>uni04EC</string>
      <string>uni04ED</string>
      <string>uni04EE</string>
      <string>uni04EF</string>
      <string>uni04F0</string>
      <string>uni04F1</string>
      <string>uni04F2</string>
      <string>uni04F3</string>
      <string>uni04F4</string>
      <string>uni04F5</string>
      <string>uni04F8</string>
      <string>uni04F9</string>
      <string>uni04FC</string>
      <string>uni04FD</string>
      <string>uni0501</string>
      <string>uni0512</string>
      <string>uni0513</string>
      <string>uni1EA0</string>
      <string>uni1EA1</string>
      <string>uni1EA2</string>
      <string>uni1EA3</string>
      <string>uni1EA4</string>
      <string>uni1EA5</string>
      <string>uni1EA6</string>
      <string>uni1EA7</string>
      <string>uni1EA8</string>
      <string>uni1EA9</string>
      <string>uni1EAA</string>
      <string>uni1EAB</string>
      <string>uni1EAC</string>
      <string>uni1EAD</string>
      <string>uni1EAE</string>
      <string>uni1EAF</string>
      <string>uni1EB0</string>
      <string>uni1EB1</string>
      <string>uni1EB2</string>
      <string>uni1EB3</string>
      <string>uni1EB4</string>
      <string>uni1EB5</string>
      <string>uni1EB6</string>
      <string>uni1EB7</string>
      <string>uni1EB8</string>
      <string>uni1EB9</string>
      <string>uni1EBA</string>
      <string>uni1EBB</string>
      <string>uni1EBC</string>
      <string>uni1EBD</string>
      <string>uni1EBE</string>
      <string>uni1EBF</string>
      <string>uni1EC0</string>
      <string>uni1EC1</string>
      <string>uni1EC2</string>
      <string>uni1EC3</string>
      <string>uni1EC4</string>
      <string>uni1EC5</string>
      <string>uni1EC6</string>
      <string>uni1EC7</string>
      <string>uni1EC8</string>
      <string>uni1EC9</string>
      <string>uni1ECA</string>
      <string>uni1ECB</string>
      <string>uni1ECC</string>
      <string>uni1ECD</string>
      <string>uni1ECE</string>
      <string>uni1ECF</string>
      <string>uni1ED0</string>
      <string>uni1ED1</string>
      <string>uni1ED2</string>
      <string>uni1ED3</string>
      <string>uni1ED4</string>
      <string>uni1ED5</string>
      <string>uni1ED6</string>
      <string>uni1ED7</string>
      <string>uni1ED8</string>
      <string>uni1ED9</string>
      <string>uni1EDA</string>
      <string>uni1EDB</string>
      <string>uni1EDC</string>
      <string>uni1EDD</string>
      <string>uni1EDE</string>
      <string>uni1EDF</string>
      <string>uni1EE0</string>
      <string>uni1EE1</string>
      <string>uni1EE2</string>
      <string>uni1EE3</string>
      <string>uni1EE4</string>
      <string>uni1EE5</string>
      <string>uni1EE6</string>
      <string>uni1EE7</string>
      <string>uni1EE8</string>
      <string>uni1EE9</string>
      <string>uni1EEA</string>
      <string>uni1EEB</string>
      <string>uni1EEC</string>
      <string>uni1EED</string>
      <string>uni1EEE</string>
      <string>uni1EEF</string>
      <string>uni1EF0</string>
      <string>uni1EF1</string>
      <string>uni1EF4</string>
      <string>uni1EF5</string>
      <string>uni1EF6</string>
      <string>uni1EF7</string>
      <string>uni1EF8</string>
      <string>uni1EF9</string>
      <string>uni20AB</string>
      <string>uni049A</string>
      <string>uni049B</string>
      <string>uni04A2</string>
      <string>uni04A3</string>
      <string>uni04AC</string>
      <string>uni04AD</string>
      <string>uni04B2</string>
      <string>uni04B3</string>
      <string>uni04B6</string>
      <string>uni04B7</string>
      <string>uni04CB</string>
      <string>uni04CC</string>
      <string>uni04F6</string>
      <string>uni04F7</string>
      <string>uni0496</string>
      <string>uni0497</string>
      <string>uni04BE</string>
      <string>uni04BF</string>
      <string>uni04BB</string>
      <string>uni048D</string>
      <string>uni048C</string>
      <string>uni0462</string>
      <string>uni0492</string>
      <string>uni0493</string>
      <string>uni049E</string>
      <string>uni049F</string>
      <string>uni048A</string>
      <string>uni048B</string>
      <string>uni04C9</string>
      <string>uni04CA</string>
      <string>uni04CD</string>
      <string>uni04CE</string>
      <string>uni04C5</string>
      <string>uni04C6</string>
      <string>uni04B0</string>
      <string>uni04B1</string>
      <string>uni04FE</string>
      <string>uni04FF</string>
      <string>uni0511</string>
      <string>uni2015</string>
      <string>uni0002</string>
      <string>uni0009</string>
    </array>
  </dict>
</plist>
